:root {
  /* neutral colors */
  --Dark-Slate-Grey: hsl(234, 29%, 20%);
  --Charcoal-Grey: hsl(235, 18%, 26%);
  --Dark-Blue: hsl(232, 31%, 20%);
  --Grey: hsl(231, 7%, 60%);
  --White: hsl(5, 0%, 100%);

  --Tomato: hsl(4, 100%, 67%)
}

::placeholder {
  color: var(--plholder, rgb(128, 127, 127));
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: var(--Dark-Slate-Grey);
  line-height: 1.5;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-weight: 700;
  font-size: 3.5rem;
  line-height: normal;
  margin-bottom: 0;
}

#card-container {
  background-color: white;

  /* max-height: 640px; */
  border-radius: 40px;
}

#signup-card {
  max-width: 930px;
  max-height: 640px;
  display: flex;
  padding: 25px;
}

#form-container {
  display: flex;
  color: var(--Dark-Slate-Grey);
}

#form-details,
#card-img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

#form-details {
  max-height: 593px;
  margin: 3ch 6ch 3ch 3ch;
}

#card-form {
  display: flex;
  flex-direction: column;
}

#label-message {
  display: flex;
  justify-content: flex-end;
}

#email-label,
#email-input,
#email-button {
  margin-top: 10px;
  /* width: calc(100% - 25px); */
  padding: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

#email-label {
  width: 50%;
  font-weight: 700;
  font-size: 0.8rem;
  padding: 0;
  border-style: none;
}

#error-message {
  width: 50%;
  text-align: right;
  color: red;
  visibility: hidden;
  margin: 0;
}

#email-button {
  background-color: var(--Dark-Blue);
  color: white;
  margin-top: 3ch;
  border-style: none;
}

#email-button:active,
#dismiss:active {
  background: linear-gradient(to right, hsl(346, 94%, 65%), hsl(14, 91%, 61%));
  box-shadow: 2px 7px 15px 4px rgb(255 20 2 / 34%);
}

#card-img {
  background-image: url(../assets/images/illustration-sign-up-desktop.svg);
  width: 400px;
  height: 593px;
  border-radius: 15px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: right;
}

ul {
  list-style: none;
  padding: 1.5ch 0;
}

.icon-list {
  background: left/contain no-repeat url(../assets/images/icon-list.svg);
  background-size: auto;
  background-position: inherit;
  padding-left: 35px;
  margin-bottom: 10px;
}

#thanks-card-container {
  display: none;
  background-color: white;
  color: var(--Dark-Slate-Grey);
  border-radius: 40px;
  width: 500px;
}

#thanks-card {
  padding: 50px;
}

#thanks-card>p {
  font-size: 1.1em;
}

#dismiss {
  background-color: var(--Dark-Blue);
  color: white;
  margin-top: 10px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border-style: none;

}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width:768px) {
  body {
    background-color: white;
  }

  h1 {
    font-size: 2.5rem;
  }

  #signup-card {
    position: absolute;
    left: 0;
    top: -25px;
    padding: 0;
  }

  #form-container {
    flex-direction: column;
  }

  #form-details {
    order: 2;
    max-height: 593px;
    margin: 3ch;
  }

  #card-img {
    background-image: url(../assets/images/illustration-sign-up-mobile.svg);
    width: 100%;
    min-height: 294px;
    border-radius: 0 0 15px;
    background-size: cover;
    background-repeat: no-repeat;
    order: 1;


  }

  #thanks-card-container {
    display: none;
    background-color: white;
    color: var(--Dark-Slate-Grey);
    border-radius: none;
    width: 100%;
  }

  #thanks-card {
    padding: 15ch 2.5ch;
    height: 100vh;
}

  #dismiss {
    position: absolute;
    bottom: 8ch;
    left: 4ch;
    width: calc(100vw - 8ch);
  }

}